

.issue-one {


.branding .logo a {
    color: #e93cbd;
    size: 1.5em;
}

.side-nav {
    background: none;
}

.main-menu {
  border-right: none;
}

.browse-menu {
  border-left: none;
}

.expand-left {

  transition: background-color 0.5s ease;
  background-color: #fff;
}


.issue-landing .authors li a {
  font-size: 2em;
}

}