---
layout: default
---

<style>


.intro-wrapper {
    height: 300px;
    width: 500px;
    margin: 5% auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    perspective: 9999px;
    transform-style: preserve-3d;
}

.intro {

	  width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    /*transform: rotateY(10deg) rotateX(33deg) translateZ(0px);*/
    /*animation: 5s ease-in-out -7.5s infinite alternate forwards intro;*/
    font-family: 'Pirata One', cursive;
    color: #8553FB;

}

.intro:first-child:after {
    color: #8553FB;
    text-shadow: none;
}

.intro:nth-child(1):after {
    transform: translateZ(0px);
}


.intro:after {
    font-size: 14em;
    content: 'FANDOM';
    white-space: pre;
    text-align: center;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50px;
    letter-spacing: -2px;
    /* text-shadow: 4px 0 10px rgba(0, 0, 255, 0.13); */
    letter-spacing: .08em;
}

@keyframes intro  {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}

@-webkit-keyframes intro {
	100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}

@media only screen and (min-width: 768px) {
    .intro-wrapper {
         height: 300px;
        width: 500px;
    }
}

	

</style>



<div class="home-logo"><h1>Yes Femmes</h1></div>


<div id="landing-wrapper">
<div class="group group-one">
<div class="item w-25 p-left-top">
	<a href="{{ site.baseurl }}/issues/fandom/reperforming-mendieta"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/anna-mendieta.png"></a>
</div>
<div class="item w-35 p-right-bottom">
	<a href="{{ site.baseurl }}/issues/fandom/on-mysteria-hds-mystical-hysterical-poetics"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/hd.png"></a>
</div>
<div class="item w-25 p-left-bottom">
	<a href="{{ site.baseurl }}/issues/fandom/from-bush-to-bronte-and-back-again"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/kate-bush.png"></a>
</div>
<div class="item w-25 p-bottom-center">
	<a href="{{ site.baseurl }}/issues/fandom/greetings-friends"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/ze-brazilian.png"></a>
</div>

</div><!-- end group-one -->

<div class="group group-two">
<div class="item w-25 p-left-top">
  <a href="{{ site.baseurl }}/issues/fandom/dirty-dancing"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/cho-tom_dirtydancing_1.jpg"></a>
</div>
<div class="item w-18 p-right-bottom">
  <a href="{{ site.baseurl }}/issues/fandom/mrs-bailey"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/green-book.jpg"></a>
</div>
<div class="item w-25 p-left-bottom">
  <a href="{{ site.baseurl }}/issues/fandom/letters-to-dead-rockstars"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/fruchter-temim-dead-rockstars_1.jpg"></a>
</div>
<div class="item w-35 p-bottom-center">
  <a href="{{ site.baseurl }}/issues/fandom/45-billion-observations"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/crawford-marissa-indigo-girls.jpg"></a>
</div>
</div><!-- end group-two -->

<div class="group group-three">
<div class="item w-25 p-left-top">
  <a href="{{ site.baseurl }}/issues/fandom/dear-mary-kate"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/mary-kate.png"></a>
</div>
<div class="item w-35 p-bottom-center">
  <a href="{{ site.baseurl }}/issues/fandom/tori-4-tori"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/tori-amos.jpg"></a>
</div>
<div class="item w-18 p-left-bottom">
  <a href="{{ site.baseurl }}/issues/fandom/a-fan-of-utopia"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/natalie-barney.jpg"></a>
</div>
<div class="item w-35 p-right-bottom">
  <a href="{{ site.baseurl }}/issues/fandom/too-much-emotional-trauma-with-my-k-pop"><img src="{{ site.baseurl }}/assets/images/issues/02_fandom/home/kpop-show-me-the-money.jpg"></a>
</div>
</div><!-- end group-two -->


<div class="intro-wrapper">
<div class="intro"></div>
</div>
</div><!-- end landing wrapper -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93682415-1', 'auto');
  ga('send', 'pageview');

</script>